Body {
	margin: 0;
	padding: 0;
	background-color: #171717;
	color: white;
	font-family: Verdana;
}

#navigation ul li {
	list-style-type: none;
	display: inline-block;
	padding: 5px;
}

#navigation a:link {
	text-decoration: none;
	color: white;
}

#navigation a:Hover {
	color: Red;
}

#header {
	padding-left: 5px;
}

#Main {
	padding-top: 140px;
	text-align: center;
	font-size: 15px;
	margin-left: 170px;
	margin-right: 170px;
}

#footer {
	padding-top: 280px;
	padding-left: 5px;
}